.loader {
  position: fixed;
  fill: white;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  scale: 2;

  animation: rotateLoader 1.5s ease-in-out infinite;

  z-index: 1;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(-0deg);
  }
  50% {
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg);
  }
}
