form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 16px;
  padding: 5px;
  padding-left: 30px;
  color: white;
  background: #808285;
  border: 2px solid #6c6e70;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

input:hover {
  border: 2px solid #868889;
}

input:focus {
  color: black;
  background: #b5b5b8;
  border: 2px solid #ff8c00;
}
input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: white;
  letter-spacing: 3px;
}

.searchButton {
  position: relative;
  left: 25px;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  fill: white;
  background: orange;
  cursor: pointer;
}

.searchButton:active {
  background: darkorange;
}

.searchButton svg {
  position: relative;
  top: 0;
  left: -1px;
  width: 30px;
  height: 30px;
  transform: scale(0.7);
}
