/** HEADER  **/
header {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 2px solid orange;
  background: #3a3b3c;
}

main {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #181818;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 10px 0;
  display: flex;

  flex-direction: column;
  text-align: center;
  justify-content: center;

  row-gap: 20px;

  background: rgb(36, 36, 36);
} */
